*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{

    height: 10vh;
    background-color:rgb(215, 214, 214);
    
}
.heading{
    height: 5vh;
    color: black;
    text-align: center;
    padding-top: 5px;
    
}
.menu{
    height: 5vh;
    display: flex; 
    
}
.menu-option{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    display: flex;
    align-items: center;
}
.menu-option.selected{
    background-color: white;
     
}
.menu-option:hover{
    background-color: gray;
    cursor: pointer;
}
.menu-option.selected:hover{
    background-color: gray;
    cursor: default;
}
section{
    height: 90vh;
   
}
.options{
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: lightgray;
}
.menu1{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

i{
    font-size: 1.4em;
}
i:hover{
    background-color: gray;
    cursor: pointer;
}
.formula{
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.formula-box{
    height: 70%;
    border: 1px solid lightgray;
    background-color: #fff;
    margin-left: 10px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}
.content{
    height: 75vh;
    overflow: hidden;
    /* border: 2px solid blue; */
}
.selected-box{
    width:120px;
}
.formula-sign{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.formula-input{
   width: 87%;
   background-color: #fff;
}

#spreadsheet-conatiner{
    height: 100%;
    display: grid;
    grid-template-columns: 50px repeat(100, 100px);
    grid-template-rows: 100px  repeat(100, 50px);
   overflow: scroll;
}

.cell{
    border: 1px solid #ccc;
    color: black;
    box-sizing: border-box;
   
}

.header-cell{
    background-color:  white;
    font-weight: bold;
    text-align: center;
    
}

.selected-cell{
   background-color: rgb(214, 247, 253);
   outline: none;
}
.footer{
    height: 5vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-icon{
    margin-left: 10px;
    margin-right: 10px;
   
}
.sheet-tab{
    width: 90vw;
    border: 2px solid lightgray;
}
.sheets{
    width: 70px;
    border-bottom: 4px solid gray;
    padding-left: 10px;
    padding-right: 10px;
}
.selected{
    background-color: #fff;
}